<#ftl encoding="utf-8">

<body xmlns="http://www.w3.org/1999/html">
    <h1>Acceptation d'échange réussie</h1>
    <p>
        L'échange est effectué.
    </p>
    <a href="/index">Acceuil</a>
</body>
</html>